<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.findme"
          android:versionCode="1"
          android:versionName="1.8" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="22" />

    <!-- Take user photo -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- Store the photos -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- Internet Services. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Network State Permissions to detect Internet status -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Must have a camera -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <!-- Not a must for the front camera -->
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />

    <application
        android:name="FindMeApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.FindMe" >
        <activity
            android:name=".FindMe"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.findme.FindMe" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Register"
            android:label="@string/register"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" >
            <intent-filter>
                <action android:name="com.findme.Register" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterName"
            android:label="@string/register"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="com.findme.RegisterName" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterPhone"
            android:label="@string/register"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="com.findme.RegisterPhone" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterOrigin"
            android:label="@string/register"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="com.findme.RegisterOrigin" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterChoosePhoto"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="com.findme.RegisterChoosePhoto" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterPhoto"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="com.findme.RegisterPhoto" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterSummary"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="com.findme.RegisterSummary" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Registered"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="com.findme.Registered" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Help"
            android:label="@string/help" >
            <intent-filter>
                <action android:name="com.findme.Help" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SearchResults"
            android:label="@string/recently_registered" >
            <intent-filter>
                <action android:name="com.findme.FindPerson" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SearchOptions"
            android:label="@string/search"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="com.findme.SearchOptions" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SearchOrigin"
            android:label="@string/search__origin"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="com.findme.SearchOrigin" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SearchName"
            android:label="@string/search__name"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="com.findme.SearchName" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SearchPhone"
            android:label="@string/search__phone"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="com.findme.SearchPhone" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MeetingPoints"
            android:label="@string/meetingPoints" >
            <intent-filter>
                <action android:name="com.findme.MeetingPoints" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>